.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.markdown h1 {
  font-size: 1.5rem;
}

.markdown h2 {
  font-size: 1.2rem;
}

.markdown h3 {
  font-size: 1rem;
}
