/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

:root {
  --black: #292f36;
  --blue: #4ecdc4;
  /* --white: #f7fff7; */
  --white: #ccc;
  --red: #ff6b6b;
  --yellow: #ffe66d;
  --code-black: #373c47;
  --code-font-color: #b3b9c5;
  --font-family: system-ui;
  /* Breakpoint */
  --md: 800px;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: var(--font-family);
}

a {
  color: var(--blue);
}

h1,
h2,
h3 {
  color: var(--yellow);
  line-height: 2.2rem;
}

h2,
h3 {
}

h3 {
  font-size: 1.5rem;
}

/* .body__container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'header header'
    'sidebar main';
} */

header {
  /* grid-area: header; */
}
footer {
  padding-top: 4rem;
}

.header_divider {
  margin: 0 0.5rem;
}

main {
  max-width: 50rem;
  margin: 1rem 0.5rem;
  /* grid-area: main; */
}

@media all and (min-width: 800px) {
  main {
    margin: 4rem auto;
  }
}

nav {
  /* grid-area: sidebar; */
}

.intro {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2.3rem;
}

@media all and (min-width: 800px) {
  .intro {
    flex-direction: row;
  }
}

.intro h1 {
  margin: 0;
  margin-bottom: 0.75rem;
}

.hero_buttons {
  margin: 0;
  font-size: 1.3rem;
}

.article_preview {
  display: flex;
}

.article_preview__image_container {
  flex-basis: 3rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.headshot img {
  border-radius: 300px;
  object-fit: cover;
  object-position: 0 25%;
}
.heading_flex > * {
  display: inline-block;
}

.heading_flex a h2 {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--blue);
}

@media all and (min-width: 800px) {
  .heading_flex a h2 {
    margin-left: 4rem;
  }
}

strong {
  color: var(--red);
}

.tags {
  margin: 1rem 0;
  text-transform: capitalize;
}
.tags span {
  /* background-color: var(--code-black); */
  color: var(--code-font-color);
  border: 1px solid var(--code-font-color);
  border-radius: 10px;
  padding: 0.25rem 1rem;
  margin: 0 0.5rem;
  cursor: initial;
  display: inline-block;
}

.tags span:first-child {
  margin-left: 0;
}
article h1 {
  font-size: 2em;
}
.markdown h2,
.markdown h3 {
  margin-top: 4rem;
}

.markdown img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.markdown p {
  display: block;
  position: relative;
}
.music_display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

@media all and (min-width: 800px) {
  .music_display {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
