/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

:root {
  --black: #292f36;
  --light-blue: #009ffd;
  --blue: #4ecdc4;
  --dark-blue: #30638e;
  /* --white: #f7fff7; */
  --white: #ccc;
  --red: #ff6b6b;
  --orange: #edae49;
  --yellow: #ffe66d;
  --purple: #c3adf4;
  --cream: #f1dac4;
  --green: #90be6d;
  --code-black: #373c47;
  --code-font-color: #b3b9c5;
  --font-family: system-ui;
  /* Breakpoint */
  --md: 800px;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: var(--font-family);
  margin: 0;
}

a {
  color: var(--blue);
}

h1,
h2,
h3,
h4 {
  color: var(--yellow);
  line-height: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

/* .body__container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'header header'
    'sidebar main';
} */

header {
  /* grid-area: header; */
}
footer {
  padding-top: 4rem;
}

.header_divider {
  margin: 0 0.5rem;
}

main {
  max-width: 48rem;
  margin: 1rem 0.5rem;
  padding: 0;
  /* grid-area: main; */
}

.markdown hr {
  margin: 3rem 0;
}

@media all and (min-width: 500px) {
  main {
    margin: 2rem auto;
    padding: 0rem 2rem;
  }
}
@media all and (min-width: 800px) {
  main {
    margin: 4rem auto;
    padding: 0 2rem;
  }
}

nav {
  /* grid-area: sidebar; */
}

.intro {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2.3rem;
  align-items: center;
}

.intro-text {
  flex: 2;
}

.headshot {
  flex: 1;
}

@media all and (min-width: 800px) {
  .intro {
    flex-direction: row;
  }
}

.intro h1 {
  margin: 0;
  margin-bottom: 0.75rem;
}

.hero_buttons {
  margin: 0;
  font-size: 1.3rem;
}

.article_preview {
  display: flex;
}

.article_preview__image_container {
  flex-basis: 3rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.headshot img {
  border-radius: 300px;
  object-fit: cover;
  object-position: 0 25%;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.heading_flex {
  margin-top: 2rem;
}

.heading_flex > * {
  display: inline-block;
}

.heading_flex a h2 {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--blue);
}

@media all and (min-width: 800px) {
  .heading_flex a h2 {
    margin-left: 4rem;
  }
}

strong {
  color: var(--red);
}

.tags {
  margin: 1rem 0;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tags span {
  /* background-color: var(--code-black); */
  color: var(--code-font-color);
  border: 1px solid var(--code-font-color);
  border-radius: 10px;
  padding: 0.25rem 1rem;
  margin: 0 1rem 1rem 0;
  cursor: initial;
  display: inline-block;
}

.tags span:first-child {
  margin-left: 0;
}
article h1 {
  font-size: 2em;
  line-height: 2.5rem;
}

main img {
  max-width: 100%;
}
.markdown h2,
.markdown h3 {
  margin-top: 4rem;
}

.markdown img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  max-height: 600px;
}

.markdown p {
  display: block;
  position: relative;
}

.markdown .twitter-tweet {
  margin: 0 auto;
}

figcaption {
  color: #b3b9c5;
  font-style: italic;
}

.markdown .article-book-image {
  float: left;
  margin-right: 1rem;
  width: 150px;
}

.markdown footer {
  color: grey;
  text-align: left;
}

.article-book-section {
  display: block;
}

.clearfix {
  color: rgba(0, 0, 0, 0);
  margin: 1rem 0;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.music_display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.art_display {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
  justify-items: stretch;
}

.art_display_article,
.artgridlink,
.artgridimage {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.artgridimage {
  background: transparent no-repeat center;
  background-size: cover;
  margin: auto;
}

@media all and (min-width: 800px) {
  .artgridimage {
    height: 250px;
    width: 250px;
  }
  .art_display,
  .art_display_article,
  .artgridlink {
    aspect-ratio: auto;
  }
}
/* .artgridimage.home {
  height: 500px;
  width: 250px;
  min-width: 100%;
  min-height: 100%;
  background: transparent no-repeat center;
  background-size: cover;
  margin: auto;
} */

.artgridimage,
.artgridimage.home {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: transparent no-repeat center;
  background-size: cover;
  margin: auto;
}

.softwareproject_display {
  display: flex;
  flex-direction: column;
}

.softwareproject_display_card {
  /* border: 1px solid var(--yellow); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.softwareproject_display_imagecontainer {
  flex: 1 1 auto;
  max-width: 300px;
}

.softwareproject_display_image {
  width: 100%;
  /* max-width: 300px; */
}

.softwareproject_display_title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.softwareproject_display_description {
  flex: 1;
  margin: 1rem;
}

.softwareproject_display_stacklist {
  border: 2px dashed var(--blue);
  padding: 1rem;
}

@media all and (min-width: 800px) {
  .softwareproject_display_card {
    flex-direction: row;
    align-items: flex-start;
  }
}

.center {
  text-align: center;
}

.hideonmobile {
  display: none;
}

@media all and (min-width: 800px) {
  .music_display,
  .art_display {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .softwareproject_display_description {
    margin-top: 0;
  }

  .artgridimage {
    width: 250px;
    height: 250px;
  }

  .hideonmobile {
    display: block;
  }
}

.bloglist,
.bloglist_article_tags,
.tagslist,
.album_linkslist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bloglist_article {
  margin: 1rem 0;
}

.bloglist_article_title {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.bloglist_article_date {
  font-size: 1rem;
}

.bloglist_article_tags {
  display: inline-block;
}
.bloglist_article_tag,
.tagslist_tag {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0.25rem 0.5rem;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.tags .tagslist_tag:first-child,
.tagslist .tagslist_tag:first-child {
  margin-left: -0.5rem;
}

.bloglist_article_tag:hover,
.tagslist_tag:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.bloglist_article_tag[data-tag='Tech'] a,
.tagslist_tag[data-tag='Tech'] a,
.tagslist_tag[data-tag='Tech'],
.header_tag[data-tag='Tech'] {
  color: var(--yellow);
}

.bloglist_article_tag[data-tag='Notes'] a,
.tagslist_tag[data-tag='Notes'] a,
.tagslist_tag[data-tag='Notes'],
.header_tag[data-tag='Notes'] {
  color: var(--orange);
}

.bloglist_article_tag[data-tag='Music'] a,
.tagslist_tag[data-tag='Music'] a,
.tagslist_tag[data-tag='Music'],
.header_tag[data-tag='Music'] {
  color: var(--green);
}

.bloglist_article_tag[data-tag='Art'] a,
.tagslist_tag[data-tag='Art'] a,
.tagslist_tag[data-tag='Art'],
.header_tag[data-tag='Art'] {
  color: var(--red);
}

.bloglist_article_tag[data-tag='Books'] a,
.tagslist_tag[data-tag='Books'] a,
.tagslist_tag[data-tag='Books'],
.header_tag[data-tag='Books'] {
  color: var(--purple);
}

.bloglist_article_tag[data-tag='Clippings'] a,
.tagslist_tag[data-tag='Clippings'] a,
.tagslist_tag[data-tag='Clippings'],
.header_tag[data-tag='Clippings'] {
  color: var(--cream);
}

.article_end {
  margin-top: 4rem;
}

iframe.youtube_video,
iframe.internet_archive_video {
  display: block;
  margin: 0 auto;
  width: 90vw;
  height: auto;
}

iframe.internet_archive_audio {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 60px;
}

.video {
  display: block;
  margin: 0 auto;
  width: 250px;
}

@media all and (min-width: 800px) {
  iframe.youtube_video,
  iframe.internet_archive_video {
    width: 560px;
    height: 315px;
  }
  iframe.internet_archive_audio,
  .video {
    width: 560px;
  }
}

button {
  font-size: inherit;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
  color: var(--yellow);
  border: 1px solid var(--yellow);
  padding: 1rem;
  transition: background-color 0.4s ease;
  font-weight: bold;
}

button:hover {
  background-color: var(--light-blue);
  cursor: pointer;
}

.album_flex {
  display: flex;
  flex-direction: column-reverse;
}

@media all and (min-width: 800px) {
  .album_flex {
    flex-direction: row;
  }

  .album_text {
    padding-right: 1rem;
  }
  .album_image {
    margin-top: 1.5rem;
  }
}

.album_flex > * {
  flex: 1;
}

.album_linkslist > * {
  font-weight: bold;
  margin: 1rem 0;
}

/* .bloglist_index li:first-child {
  margin-top: 0;
} */

.center {
  margin: 0 auto;
  max-width: 547px;
}

.bookshelf_image {
  max-width: 120px;
}

figure.bookshelf_image_wrapper {
  margin: 0;
  margin-right: 1.5rem;
  float: left;
}

/* Album Story */

.album-story {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  /* min-width: calc(100vw - 16px); */
  /* min-height: calc(100vh - 16px); */
  position: relative;
  /* overflow: hidden; */
}

.album-story-page {
  /* object-fit: contain; */
  flex-grow: 1;
  /* flex-shrink: 1; */
  flex-basis: 100%;
}

.album-story-video,
.album-story-play-button-container,
.album-story-bg-image {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* min-width: 0; */
  /* min-height: 0; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* max-width: 100%;
  max-height: auto; */
  /* width: 100%;
  height: 100%; */
  /* transform: translate(-50%, -50%); */
  /* height: 90vh; */
  /* max-height: 709px; */
  /* max-width: auto; */
}

.album-story-bg-image {
  z-index: -1;
  background-size: cover;
  background-position: center;
}

@media all and (min-width: 800px) {
  .album-story-video {
    /* border-radius: 20px;
    position: relative;
    min-width: auto;
    min-height: auto;
    transform: translate(0, 0);
    max-height: 850px; */
    /* height: 90vh; */
    /* max-width: auto; */
  }

  .album-story-video-full {
  }
}

.album-story-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 4rem;
  border: none;
}

.album-story-play:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 1);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}

.fade-slow-enter {
  opacity: 0;
}

.fade-slow-enter-active {
  opacity: 1;
  transition: opacity 4000ms;
}

.fade-slow-exit {
  opacity: 1;
}

.fade-slow-exit-active {
  opacity: 0;
  transition: opacity 4000ms;
}

/* Tap Essay */

.tap-essay {
  position: absolute;
  width: 80vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 5;
  font-family: 'Charm', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2rem;
  line-height: 1.8rem;
  transition: background-color 2000ms linear;
}

.tap-essay p {
  position: absolute;
  /* position: fixed; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 600px;
  font-size: 1rem;
}

.tap-essay span {
  transition: color 2000ms linear;
}
@media all and (min-width: 800px) {
  .tap-essay {
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
    line-height: 3rem;
  }
  .tap-essay p {
    white-space: pre-line;
    font-size: 2rem;
  }
}

.interactive {
  display: grid;
  gap: 1.5rem;
}

.interactive_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.interactive_image {
  border-radius: 10%;
}

.interactive_description {
  flex: 1;
  width: 100%;
}

@media all and (min-width: 800px) {
  .interactive_container {
    flex-direction: row;
  }
  .interactive_description {
    margin: 0 2rem;
  }
}
